.pagination-bar {
    margin: 0 20px 40px 20px;
    padding: 15px 25px;
    background: #f8f9fa;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination-buttons button {
    cursor: pointer;
}