<nav class="side-menu">
  <h2>EKATTE</h2>
  <ul>
    <li>
      <a href="/index.html" class="nav-link">Начало</a>
    </li>

    <li class="menu-item-group">
      <div class="menu-header">
        <span>Селища</span>
        <span class="arrow">▼</span>
      </div>
      <ul class="submenu">
        <li><a href="/settlement/settlement.html" class="nav-link">Списък</a></li>
        <li><a href="/settlement/create-settlement.html" class="nav-link">Създаване</a></li>
      </ul>
    </li>

     <li class="menu-item-group">
      <div class="menu-header">
        <span>Кметства</span>
        <span class="arrow">▼</span>
      </div>
      <ul class="submenu">
        <li><a href="/mayorality/mayorality.html" class="nav-link">Списък</a></li>
        <li><a href="/mayorality/create-mayorality.html" class="nav-link">Създаване</a></li>
      </ul>
    </li>

    <li class="menu-item-group">
      <div class="menu-header">
        <span>Общини</span>
        <span class="arrow">▼</span>
      </div>
      <ul class="submenu">
        <li><a href="/municipality/municipality.html" class="nav-link">Списък</a></li>
        <li><a href="/municipality/create-municipality.html" class="nav-link">Създаване</a></li>
      </ul>
    </li>

    <li class="menu-item-group">
      <div class="menu-header">
        <span>Области</span>
        <span class="arrow">▼</span>
      </div>
      <ul class="submenu">
        <li><a href="/region/region.html" class="nav-link">Списък</a></li>
        <li><a href="/region/create-region.html" class="nav-link">Създаване</a></li>
      </ul>
    </li>

    

   
  </ul>
</nav>